@import "@xyflow/react/dist/style.css";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #b1b2ff;
	--bg-light: #f8f6ff;
	--bg-dark: #131022;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Space Grotesk", sans-serif;
	background: var(--bg-light);
}

.material-symbols-outlined {
	font-family: "Material Symbols Outlined";
	font-variation-settings:
		"FILL" 0,
		"wght" 500,
		"GRAD" 0,
		"opsz" 24;
	line-height: 1;
}

.graph-grid {
	background-size: 40px 40px;
	background-image: radial-gradient(circle, #b1b2ff22 1px, transparent 1px);
}

.react-flow__attribution {
	display: none;
}